/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Font family */
@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Variable */
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
  --fsPrimary: 14px;
  --fw400: 400;
  --fw600: 600;
  --fw700: 700;
}

body {
  background-color: var(--Grey900);
  height: 100svh;
  font-family: "Inter", sans-serif;
  font-size: var(--fsPrimary);
  font-weight: var(--fw400);
  display: grid;
  place-items: center;
}

main {
  background-color: var(--Grey800);
  max-width: 18.75rem;
  min-height: 30rem;
  padding: 10px 20px;
  margin: 0 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.avatar-profile {
  display: block;
  max-width: 6rem;
  margin: 0.6rem auto 0.8rem;
  border-radius: 50%;
}

.username {
  color: var(--White);
}

.location {
  color: var(--Green);
  margin-bottom: 0.8rem;
}

.role {
  color: var(--White);
}

.social-links {
  padding: 0;
}

.social-links a {
  display: block;
  background-color: var(--Grey700);
  color: var(--White);
  padding: 8px 15px;
  margin-bottom: 0.7rem;
  border-radius: 0.313rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: var(--Green);
  color: var(--Grey900);
}
